@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --font: "Inter", sans-serif; 
  --primary-100: #F26CF9;
  --primary-90: #F589FA;
  --primary-50: #FCD3FE;
  --primary-40: #FCE2FE;
  --primary-30: #FDEDFE;
  --secondary-110: #1C2346;
  --secondary-100: #37437D;
  --secondary-90: #5562A2;
  --secondary-70: #707DBF;
  --secondary-60: #ABB4DD;
  --secondary-50: #D3DAF9;
  --yellow-100: #FFCA39;
  --yellow-90: #FFEFC3;
  --grey-10: #FFFFFF;
  --grey-20: #F7F7F7;
  --grey-30: #EDEDED;
  --grey-40: #E0E0E1;
  --grey-50: #C3C3C4;
  --grey-60: #9F9FA1;
  --grey-70: #777779;
  --grey-80: #636365;
  --grey-90: #434345;
  --grey-100: #1E1E20;
  --cool-grey-10: #EEEFFF;
  --cool-grey-20: #E4E5F5;
  --cool-grey-30: #DDDEED;
  --cool-grey-40: #D1D2E0;
  --cool-grey-50: #B0B1BD;
  --cool-grey-60: #8F8F99;
  --cool-grey-70: #72737A;
  --cool-grey-80: #56565C;
  --cool-grey-90: #39393D;
  --cool-grey-100: #131314;
  --text-color: var(--grey-100);
  --text-color-bright: var(--cool-grey-70);
  --background-color: var(--grey-20);
  --nav-background-color: var(--cool-grey-10);
}

html, body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: var(--font);
  color: var(--text-color);  
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.portal-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "nav" "main" "footer";
  
 
  @media (width >= 768px) {
    grid-template-columns: 80px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "nav header" "nav main" "nav footer";
  }

  @media (width >= 1400px) {
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "nav header" "nav main" "nav footer";
  }
}

nav {
 grid-area: nav; 
}

header {
  grid-area: header;
  background-color: var(--background-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

main {
  grid-area: main;
  background-color: var(--background-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

footer {
  grid-area: footer;
  background-color: var(--background-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

.nav-wrapper {
  height: 100vh;
  background-color: var(--nav-background-color);
  margin: 1rem;
  border-radius: 1.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;

   h4 {
    font-size: 24px;
    font-weight: 500;  
    
    @media (width >= 768px) {
      display: none;
    }

    @media (width >= 1400px) {
      display: block;
    }

   }
   
}